/* universal selector*/

* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  text-align: center;

}
/*styling the big box with my picture*/

.jumbotron{
  margin:5px !important;
  padding: 5px !important;
  border-radius: 5px !important;
  height: 100% !important;
  display: flex !important;
  background-color: white;
  text-align: center;
}

/* styling the header container*/

.container p-3 my-3 bg-dark text-white text-center{
background-color: blue !important;
text-align: center !important;
}

#image{
  position: center;
}

.h2{
  text-align: center;
}
